@model IEnumerable<Peliculas.Web.ViewModels.GeneroViewModel>

@*@{
    Layout = null;
}*@     

        <h2>Generos de peliculas</h2>

        <div id="divErrors"
             class="alert alert-danger alert-dimissible fase show"
             role="alert"
             style="display:none">
            <div class="alert alert-danger">
                 <strong><span id="errors"></span></strong> 
            </div>
            <button type="button" class="close" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div id="wrapper" class="table table-bordered"></div>

        <script>


   
        document.addEventListener("DOMContentLoaded", event =>
        {
            $("body").addClass("loading");
            $.get('/api/GenerosJson', (data) => {
                data.datos.map( d => d.acciones.reduce((acum, e) => acum += '|' + e));
                if(data.estado){
                    $("div#wrapper").Grid({
                        columns: ['Id', 'Nombre','Acciones'],
                        data: data.datos
                    })
                }
                else
                    displayValidationErrors(errors);
            }).fail( errors => displayValidationErrors(errors))
              .always(() => $("body").removeClass("loading"));
        });
  
        </script>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    //await Html.RenderPartialAsync("_GridScriptsPartial");
                }
            }
