


<div class="container">
    <div class="row">
        <div class="col-3">
            Cine 1
        </div>
        <div class="col-3">
            Cine 2
        </div>
        <div class="col-3">
            Cine 3
        </div>
        <div class="col-3">
            Cine 4
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Cine 5
        </div>
        <div class="col-3">
            Cine 6
        </div>
        <div class="col-3">
            Cine 7
        </div>
        <div class="col-3">
            Cine 8
        </div>
    </div>


</div>
