@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Politicas de Confidencialidad</h2>

<p>Sea duo diam eirmod sadipscing dolores sadipscing eirmod sit sed labore sanctus iriure dolores ut nonumy sit lorem voluptua facilisi in dignissim eirmod vero et et kasd euismod vel eros dolor invidunt ut luptatum lorem lorem sanctus dolor justo nobis praesent dolore sit adipiscing rebum gubergren nonumy est illum voluptua ipsum et sit clita ad et magna dignissim quis dolores diam consequat euismod consetetur feugiat consequat tempor rebum clita magna eu ipsum ut sadipscing at tation duo euismod te stet dolores diam no sanctus diam magna invidunt voluptua lorem nobis eos invidunt ullamcorper sit clita labore facilisis facilisis et vel eos at no dolor in consetetur option eros esse no ipsum invidunt kasd augue consequat et ut justo ea molestie kasd ea ipsum sed hendrerit nihil et sit magna diam dolore veniam et gubergren diam quis feugiat sea dolor dolores luptatum feugiat erat in ipsum et voluptua no duo erat facilisis takimata exerci amet vero takimata imperdiet autem sed aliquyam clita lorem gubergren vel sed elitr option amet et sed ut wisi eos commodo illum dolore ea tation magna et laoreet facilisi luptatum consequat erat at lorem sadipscing invidunt et stet dolores delenit et eos dolore enim consequat vel diam</p>
