@model Peliculas.Web.ViewModels.PeliculaViewModel;

<div class="container">
    <div class="row">
        <div class="col-12">
            <details>
                <summary>
                    <div id="mostrarCinesId" data-action="mostrarCines"> Cines  <i class="bi bi-camera-reels"></i></div>
                </summary>
                <div class="accordion accordion-flush">
                    <div class="accordion-item">
                        <div class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                @if (Model.Cines == null || Model.Cines.Count == 0)
                                {
                                    <h3>No se encuentran cines para esta pelicula</h3>
                                }

                                @foreach (var c in Model.Cines)
                                {
                                    <div class="row">
                                        <div class="col-2" style="display: flex; justify-content: center;">
                                            <img src="~/img/Cines/@c.LogoCine" style="width: 50px; height: 50px" />
                                        </div>
                                        <div class="col-10" style="display: flex; justify-content: center; align-items: center">
                                            <span>@c.Nombre - @c.Cadena</span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col">
                                        
                                                <div class="row">
                                                    <div class="col-3">
                                                        <span style="font-size: 10px">@c.Nombre</span>
                                                    </div>
                                                    <div class="col-3">
                                                        <span style="font-size: 12px">@c.Nombre</span>
                                                    </div>
                                                </div>
                                                <hr />
                                   
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        </div>        
    </div>
</div>

