@model Peliculas.Web.Dto.GeneroViewModel

<div class="row">
    <div class="col-12">
        @Html.DropDownListFor(m => m.Id, Model.Generos);
        @*<select class="form-select-sm" asp-for="Generos" asp-items="@Model.Generos"></select>*@
    </div>
</div>
