@model Peliculas.Web.Dto.PeliculaViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ALTA DE PELICULAS</title>
</head>
<body>

<h4>Nueva Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estreno" class="control-label"></label>
                <input asp-for="Estreno" class="form-control" />
                <span asp-validation-for="Estreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisOrigen" class="control-label"></label>
                <select asp-for="PaisOrigen" class="form-control"></select>
                <span asp-validation-for="PaisOrigen" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnCartelara" /> @Html.DisplayNameFor(model => model.EnCartelara)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Resumen" class="control-label"></label>
                <input asp-for="Resumen" class="form-control" />
                <span asp-validation-for="Resumen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterLink" class="control-label"></label>
                <input asp-for="PosterLink" class="form-control" />
                <span asp-validation-for="PosterLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerLink" class="control-label"></label>
                <input asp-for="TrailerLink" class="form-control" />
                <span asp-validation-for="TrailerLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
